//output:jade_index.html
- var cat = "movie"
head
  include header

body
  .container.col-xs-2
    a Hello World!
      span.blue This is Blue
    p line 1
      |line 2
      |Line 3 modafuck      
    .classer
      li.book1
      li.book2
      li.book3
      li.book4
      li.book5      
      
      if cat == "movie"
        p It's a movie
      else
        p it's not a movie

.container
  ul
    each value , index in ["A Game of Thrones", "A Feast for Crows", "A Clash of Kings"]
      li= index + ":" +  value
